body,html{ font-family: "微软雅黑"; background: #f6f6f6; }
a{ text-decoration: none; }
a:hover,a:focus{ text-decoration: none; }
.nav{ /*height: 80px; line-height: 80px;*/ background: #4882ee; background: rgba(0,0,0,0.3); }
.navN{ width: 1200px; height: 80px; line-height: 80px; position: relative; margin: 0px auto; }
.navNL img{ width: 100%; }
.navNL .fzx{ padding: 0px; font-size: 14px; color: #fff; text-align: center; position: relative; margin-top: 25px;  }
.navNL .fzx h6{height: 30px; line-height: 30px;border-radius: 5px; padding: 0px; background: #c6d5ff; }
.navNL .fzx ul{ width: 350px; display: inline-block; position: absolute; left: 0px; top: 30px; overflow: hidden; display: none; padding-top: 10px; }
.navNL .fzx ul li{ float: left;  background: #4d7cf0; float: left; width: 16.6%; text-align: center; height: 30px; line-height: 30px; }
.navNL .fzx ul li:first-child{ border-radius: 5px 0px 0px 5px; }
.navNL .fzx ul li:last-child{ border-radius: 0px 5px 5px 0px; }
.navNL .fzx ul li:after{ content: '|'; margin-left: 10px; color: #eee; }
.navNL .fzx ul li:last-child:after{ content: ""; }
.navNL .fzx ul li a{ color: #fff; }
.navNR { float: right; }
.navNR ul li{width: 14.2%;/* height: 30px;*/ line-height: 20px; margin-top: 25px; text-align: center; float: left; border-right: 1px solid #888; /*border-left: 1px solid #fff;*/ /*background: #fc8d54; */}
.navNR ul li:last-child{border:none;}
.navNR ul li a{ font-size: 15px; color: #fff; }
.navNR ul li a:hover, .navNR ul li a:hover span{color:#fc8d54;}
.navNR .navEng{display:block; padding-top:5px; font-size:50%; color:#fff;}

.banner{ width: 100%; height: 500px; background: url(../images/banner.jpg) no-repeat center center; position: relative; background-size: cover; }
.bannerN{ width: 1200px; position: relative; margin: 0px auto; }
.bannertext{clear: both; color: #fff; height: 200px; margin-top: 50px; }
.bannertext h2{ height: 45px; line-height: 45px; }
.bannertext p{ font-size: 16px; line-height: 200%; padding: 10px 0px }
.bannertext input{ width: 150px; height: 45px; line-height: 45px; background: none; border:1px solid #fff; border-radius: 5px; transition: all 0.3s; }
.bannertext input:hover{ text-indent: 2em; }
.ssinput{ margin-top: 125px; }
.ssinputR button{ background: #fc8d54; border:1px solid #fc8d54; }
.xuqiu{ width: 1200px; height: 120px; position: relative; margin: 0px auto; background: #fff; border-radius: 5px; position: absolute; bottom: -20px; left: 50%; margin-left: -600px; box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3); }
.xuqiu ul li{ width: 12.5%; float: left; height: 100px; text-align: center; font-size: 16px; margin-top: 10px; border-right: 1px solid #eee; position: relative; transition: all 0.3s; }
.xuqiu ul li a{display:block; width:100%; height:100%;}
.xuqiu ul li i{ display: block; width: 100%; height: 40px; line-height: 40px; font-size: 24px; margin-top: 10px; transition: all 0.3s; }
.xuqiu ul li span{ display: block; }
.xuqiu ul li em{ font-size: 12px; color: #999; }
.xuqiu ul li font{ position: absolute; right: 5px; top: 0px; font-size: 12px; background: #f7f7f7; padding: 5px 10px; border-radius: 5px; overflow: hidden; color: #999; }
.xuqiu ul li:hover{ height: 140px; margin-top: -10px; background: #fff; border-radius: 5px; overflow: hidden;  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3); }
.xuqiu ul li:hover i{ margin-top: 30px; }
.xuqiu ul li:hover font{ background: #fc8d54; color: #fff; top: 10px; }

.xuqiu ul li:nth-child(1) i{ color: #d98282; }
.xuqiu ul li:nth-child(2) i{ color: #f2a88c; }
.xuqiu ul li:nth-child(3) i{ color: #d9cba3; }
.xuqiu ul li:nth-child(4) i{ color: #8da593; }
.xuqiu ul li:nth-child(5) i{ color: #f2a668; }
.xuqiu ul li:nth-child(6) i{ color: #eca2c1; }
.xuqiu ul li:nth-child(7) i{ color: #8ad5d0; }
.xuqiu ul li:nth-child(8) i{ color: #8da7c3; }
.xuqiu ul li:nth-child(9) i{ color: #f6d279; }

.layui-tab-content{ padding: 0px; }


.main{ width: 1200px; position: relative; margin: 0px auto; margin-top: 35px; padding: 5px; box-sizing: content-box; background: #fff; }

.dyp{ /*width: 1200px;*/ position: relative; margin: 0px auto;  }
.dypL{ /*width: 633px;*/  /*background: #eee;*/ padding-left: 0px; }
.dypL .swiper-slide{/* text-align: center;*/ position: relative; }
.dypL .swiper-slide a{ display: block; }
.dypL .swiper-slide img{ width: 100%; }
.dypL .swiper-pagination{ width: auto; left: auto; right: 30px; position: absolute; bottom: 0px; height: 35px; line-height: 35px; z-index: 999; }
.dypL .swiper-pagination span{ width: 10px; height: 10px; margin: 0px 10px; background: #fff; display: inline-block; border-radius: 50%; }
.dypL .swiper-pagination span.swiper-active-switch{ background: #2863a7 }
.dypL .swiper-wrapper .swiper-slide span{ position: absolute; z-index: 99; width: 100%; left: 0px; bottom: 0px; display: block; height: 35px; line-height: 35px; text-indent: 1em; background: #978986; background: rgba(77,86,109,0.5); color: #fff; }
.dypR{ /*width: 550px;*/ background: #f6f6f6; padding: 0px; padding-bottom: 5px; }
.newTt{ clear: both; }
.newTt h3{ width: 100%; height: 50px; line-height: 50px; padding: 0px; margin: 0px; overflow: hidden; }
.newTt h3 a{ font-size: 16px; color: #fc8d29; }
.newTt p{ line-height: 25px; font-size: 13px; color: #999; }
.dypR .newTt{ width: 96%; position: relative; margin: 0px auto; }
.dypR .nwe1{ width: 96%; position: relative;  margin: 0px auto; }
.dypR .nwe1 li{ /*list-style-type: none;*/ }
.dypR  .layui-tab-title{ background: #eee; height: 45px; line-height: 45px; }
.dypR .layui-tab{ margin: 0px; }
.layui-tab-title li{ height: 45px; line-height: 45px; }
.dypR .layui-tab-title .layui-this{ background: #1c81cb; border:none; border-width: 0px; color: #fff; }
.dypR .layui-tab-title .layui-this::after{ border:none; border-radius: 2px 2px 0px 0px; overflow: hidden; height: 45px; line-height: 45px; }
.dypR .ulmore{ float: right; height: 30px; line-height: 30px;  color: #555; font-size: 12px; margin-right: 10px; }
.dypR .ulmore li{ padding: 0px; width: auto; min-width: 40px; display: none; }
.dypR .ulmore a.more{ font-size: 14px; width: auto; color: #999; }


.lmBt{ width: 100%; height: 45px; line-height: 45px; border-bottom: 2px solid #f6f6f6; background: #eee; border-radius: 5px 5px 0px 0px; }
.lmBt span{ padding: 0px 30px; border-bottom: 2px solid #337aca; display: block; float: left; font-size: 15px; font-weight: 600; }
.lmBt a{ float: right; color: #888; font-size: 12px; margin-right: 10px; }
.lmBt span.caret{display: inline-block; float: none;padding: initial; border-bottom: none; }

.nwe1{ padding-left:5px; color: #999; margin-left: 10px; clear: both; }
.nwe1 li{ height: 35px; line-height: 35px; list-style-type: disc; margin-left: 10px;  clear: both; position: relative;  }
.nwe1 li a{ color: #333; font-size: 13px; width: 85%; float: left; height: 35px; line-height: 35px; position: relative; overflow: hidden; }
.nwe1 li a:hover{color:#fc8d29}
.nwe1 li span{ float: right; font-size: 12px; color: #999; margin-right: 5px; }
.nwe1 li i{ float: right; color: #72d7cf; font-size: 24px; position: absolute; top: 0px; left: -15px; display: block; width: 28px; height: 28px; }
.nwe1 li i img{ width: 100%; }

.dep{ width: 100%; margin-top: 15px; clear: both; margin-left: 0px; overflow: hidden; }
.dep div.depdiv{ height: 300px; padding: 0px 5px; width: 13%;float: left; position: relative; transition: all 0.3s; }
.dep div.depdiv .depdivN{ width: 100%; background: #f6f6f6; height: 300px; }
.dep div.depdiv .depdivBt{ position: relative; overflow: hidden; height: 300px; }
.dep div.depdiv .depdivBt i{ display: block; width: 100%; height: 100px; text-align: center; margin-top: 15px; }
.dep div.depdiv .depdivBt i img{ width: 70%; }
.dep div.depdiv .depdivBt span{ display: block; width: 100%; clear: both; text-align: center; font-size: 16px; margin-top: 15px; }
.dep div.depdiv .depdivBt em{ display: none; }
.dep div.depdiv .depdivBt p{ line-height: 200%; font-size: 13px; color: #999; width: 90%; left: 5%; bottom: 20px; position: absolute; margin: 10px auto; height: 100px; overflow: hidden; }
.dep div.depdiv .depdivBt a{ display: block; width: 80px; height: 35px; line-height: 35px; background: #4a7df0; border:none; border-radius: 2px; color: #fff; font-size: 14px; text-align: center; position: relative; margin: 0px auto; display: none; }
.dep div.depdiv.active{ width: 35%; }
.dep div.depdiv.active .depdivN{ background: #fff; box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.3);/* border:1px solid #c9eef6;*/ }
.dep div.depdiv.active .depdivBt{ width: 100%; height: 45px; line-height: 45px; background: #eee;}
.dep div.depdiv.active .depdivBt i{ width: 45px; height: 45px; margin-top: 0px; float: left; }
.dep div.depdiv.active .depdivBt span{ display: initial; float: left; width: auto; clear: none; margin-top: 0px; margin-left: 10px; }
.dep div.depdiv.active .depdivBt em{ color: #999; font-size: 12px; line-height: 50px;margin-left: 10px; display: block; float: left; }
.dep div.depdiv.active .depdivBt p{ display: none; }
.dep div.depdiv.active .depdivBt a{ width: auto; float: right; background: none; color: #555; margin-right: 10px; height: 45px; line-height: 45px; display: block; }
.dep div.depdiv .nwe1{ display: none; transition: all 0.3s; }
.dep div.depdiv.active .nwe1{ display: block; }
.dep div.depdiv:nth-child(1){ padding-left: 0px; }

.zhuanjia{ margin-top: 15px; background: #fff; width: 100%; display: inline-block;  background: url(../images/cpbg1.png) no-repeat center center; background-size: cover;}
.zhuanjia .layui-tab-title{ text-align: center; border:none; background: #56aed7; height: 45px; line-height: 45px; width: 60%; position: relative; margin: 15px auto; border-radius: 5px; margin-top: 25px; border:1px solid #eee; box-shadow: -1px -1px 9px 0px rgba(28,129,203,0.3); }
.zhuanjia .layui-tab-title li{ position: relative; margin: 0px 15px; border:none; height: 55px; line-height: 55px; margin-top: -5px; border-radius: 2px; overflow: hidden;  padding: 0px 30px; color: #fff; }
.zhuanjia .layui-tab-title .layui-this{ background: #1c81cb; color: #fff; border:none; box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.3); }
.zhuanjia  .layui-tab-title .layui-this::after{ border:none; }
.zhuanjia  .layui-tab-content{ display: inline-block; margin-top: 15px; width: 100%; }
.zjlist{ width: 98%; position: relative; margin: 0px auto; }

.zjlist li{ padding: 0px 5px; transition: all 0.3s; }
.zjlist li a{ display: block; background: #fff; padding-bottom: 10px; box-shadow: -1px -1px 2px 0px rgba(28,129,203,0.3);transition: all 0.3s;}
.zjlist li img{ width: 100%; transition: all 0.3s; }
.zjlist li span{ height: 45px; line-height: 45px; font-size: 18px; text-align: center; display: block; }
.zjlist li em{ height: 30px; line-height: 30px; display: block; font-size: 14px; text-align: center;  color: #fc8d29; }
.zjlist li p{ height: 50px; line-height: 25px; overflow: hidden; color: #999; width: 90%; position: relative; margin: 0px auto; }
.zjlist li:hover{  }
.zjlist li:hover a{ background: #56aed7; color: #fff;box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3); }
.zjlist li:hover em{ color: #fff; }
.zjlist li:hover p{ color: #fff; }
.zjlist li:hover img{ border-radius: 50%; overflow: hidden;}

.gzlist li{ margin: 5px 0px; padding: 0px 5px;  }
.gzlist li div{ background: #f6f6f6; background: rgba(246,246,246,0.5); display: inline-block; width: 100%; padding: 10px 5%; width: 90%; box-sizing: content-box; position: relative;box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.3); border-radius: 2px; border:1px solid #eee; }
.gzlist li h5{ height: 30px; line-height: 30px; font-size: 16px; color: #000; margin-bottom: 10px; }
.gzlist li h5 a{ color: #0074a4; }
.gzlist li span{ color: #999; margin: 2px 5px; font-size: 13px; /*background: #eee;*/ border-radius: 5px; }
.gzlist li span:after{ content: "|"; margin-left: 10px; color: #ddd; }
.gzlist li span a{ color: #93a7c5; }
.gzlist li p{ position: absolute; padding: 5px 10px; background: #e5f0f8; color: #999; top: 0px; right: 0px; font-size: 12px; }
.gzlist li:hover h5 a{ color: #000; }
.gzlist li:hover div{ background: #0dc1e4; }
.gzlist li:hover div span a{ color: #fff; }
.gzlist li:hover div p{ background: #fc8d54; color: #fff; }

.dwp{ margin-top: 20px; width: 100%; /*background: #f6f6f6 url(../images/cpbg.png) no-repeat center center; background-size: cover; */height: 450px; margin-left: 0px; border-radius: 5px; }
.dwpL{/* width: 90%*/; position: relative; margin: 0px auto; padding: 0px 5px; }
.dwpLN{background: #f6f6f6; padding-bottom: 15px;}
.dwpL .row li{ }
.dwpL .row li div{ border-radius: 2px; position: relative; overflow: hidden; }
/*.dwpL .row li div:hover{ box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3); }*/
.dwpL .row li a{ display: block; background: #eee; text-decoration: none; }
.dwpL .row li a:hover{ text-decoration: none; }
.dwpL .row li a img{ width: 100%; }
.dwpL .row li a span{ display: block; width: 100%; height: 35px; line-height: 35px; text-align: center; font-size: 16px; color: #000; }
.dwpL .row li a p{ text-indent: 2em; line-height: 25px; font-size: 13px; width: 90%; position: relative; margin: 0px auto; color: #999; }
.dwpL .layui-carousel{margin-top: 5px; }
.dwpL .layui-carousel ul{ width: 96%; position: relative; margin: 0px auto; }
.dwpL .layui-carousel{ background: none; }
.dwpL .layui-carousel > [carousel-item] > *{ background: none; }
/*.dwpL .layui-carousel[lay-arrow="always"] .layui-carousel-arrow{ left: -50px; }
.dwpL .layui-carousel[lay-arrow="always"] .layui-carousel-arrow[lay-type="add"]{ right: -50px; }*/
.dwpR{padding: 0px 5px;}
.dwpRN{ background: #f6f6f6; padding-bottom: 15px; }
.wlhzdiv{ display: inline-block; padding: 5px 0px; background: #eee; }
.wlhzdiv h3{ height: 45px; line-height: 45px; font-size: 16px; }
.wlhzdiv p{ line-height: 200%; color: #999; }
.wlhzdivR img{ width: 100%; }
.wlhzdivl img{ width: 100%; }


.lmBt1{ width: 100%; height: 70px; line-height: 70px; text-align: center; background: url(../images/lmbt1.png) no-repeat center center; margin-bottom: 20px; color: #fff; }
.lmBt1 h3{ font-size: 16px; font-weight: 600; height: 70px; line-height: 70px; }

.cgal{ clear: both; margin-top: 15px; margin-left: 0px; width: 100%; }
.cgallist{ clear: both; }
.cgallist ul li{ padding: 0px 5px; }
.cgallist ul li div{ background: #fff url(../images/cgalbg.png) no-repeat center center; background-size: cover; padding: 10px 2%; width: 96%; height: 120px; margin: 10px 0px; box-sizing: content-box; border-radius: 2px; overflow: hidden; }
.cgallist ul li div h3{ line-height: 30px; margin: 10px 0px; font-size: 16px;clear: both; }
.cgallist ul li div h3 a{ color: #fff; }
.cgallist ul li div span{ color: #999; margin: 5px 10px; display: block; float: left; padding: 5px 10px; font-size: 14px; color: #fff; }


.yqlj{ width: 100%; background: #eee; padding-top: 20px; display: inline-block; }
.yqljN{ width: 1200px; position: relative; margin: 0px auto; }
.yqlj .layui-form-label{ width: auto; }
.yqlj .layui-form{ width: 100%; }

.footer{ width: 100%; background: #1c81cb; color: #fff; padding-top: 25px; padding-bottom: 25px; border-top: 5px solid #9bcbef; }
.footer a{ color: #fff; }
.footerN{ width: 1200px; position: relative; margin: 0px auto; }
.footerL ul li{ height: 35px; line-height: 35px; }
.footerC p{  line-height: 35px; padding: 0px; }
.footerR{ text-align: center; }
.footerR img{ width: 100%; }

.shudh{  width: 50px; position: fixed; right: 10px; top: 50%; margin-top: -150px; background: #eee; z-index: 9; border:1px solid #eee; box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.3);
 }
.shudh ul li{ width: 100%; height: 60px; line-height: 25px; border-bottom: 1px solid #ddd; border-top: 1px solid #fff; text-align: center; position: relative; }
.shudh ul li i{ display: block; width: 100%; height: 30px; line-height: 30px; font-size: 18px; color: #1c81cb; }
.shudh ul li span{ display: block; width: 100%; height: 20px; line-height: 20px; font-size: 14px; color: #555; }
.shudh ul li:first-child{ border-top: none; }
.shudh ul li:last-child{ border-bottom: none; }
.shudh ul li:hover{ background: #1c81cb; cursor: default; }
.shudh ul li:hover i{ color: #fff; }
.shudh ul li:hover span{ color: #fff; }
.shudh ul li div{ width: 150px; position: absolute; left: -150px; top: -1px; background: #eee; display: none;  box-shadow: -5px 5px 9px 0px rgba(0,0,0,0.3); padding: 10px; }
.shudh ul li div img{ width: 100%; margin-bottom: 5px; }
.shudh ul li div input{ width: 100%; height: 40px; line-height: 40px; background: #1c81cb; color: #fff; border:none ; border-radius: 5px; }
.shudh ul li div ul li{ width: 100%; height: auto; line-height: 25px; text-align: left; border:none; padding: 10px 0px; clear: both;}
.shudh ul li div ul li i{ float: left; width: auto; height: auto; line-height: auto; }
.shudh ul li div ul li em{ float: left; height: auto; line-height: auto; margin-left: 10px; }
.shudh ul li div ul li span{ float: left; width: auto; height: auto; line-height: auto; }
.shudh ul li:hover div ul li{ background: none; }
.shudh ul li:hover div ul li i{ color: #555; }
.shudh ul li:hover div ul li span{ color: #555; }
.shudh ul li div.W{ width: 250px; left: -250px; }
.shudh ul li:nth-child(1) i{ color: #d98282; }
.shudh ul li:nth-child(2) i{ color: #f2a88c; }
.shudh ul li:nth-child(3) i{ color: #d9cba3; }
.shudh ul li:nth-child(4) i{ color: #8da593; }
.shudh ul li:nth-child(5) i{ color: #f2a668; }
.shudh ul li:nth-child(6) i{ color: #eca2c1; }
.shudh ul li:nth-child(7) i{ color: #8ad5d0; }
.shudh ul li:nth-child(8) i{ color: #8da7c3; }
.shudh ul li:nth-child(9) i{ color: #f6d279; }

.hzlj{ width: 100%; display: inline-block; background: #fff; margin-top: 15px; background: url(../images/cpbg.png) no-repeat center center; background-size: cover; padding-bottom: 15px; overflow: hidden; }
.hzyxlist li{ margin: 5px 0px; display: inline-block; }
.hzyxlist li img{ width: 100%; }
.hzlj .layui-tab-title{ text-align: center; border:none; background: #56aed7; height: 45px; line-height: 45px; width: 60%; position: relative; border:1px solid #eee; border-radius: 5px; margin: 20px auto; margin-top: 25px;  box-shadow: -1px -1px 9px 0px rgba(28,129,203,0.3); }
.hzlj .layui-tab-title li{ position: relative; margin: 0px 15px; border:none; height: 55px; line-height: 55px; margin-top: -5px; border-radius: 5px; padding: 0px 30px; color: #fff; }
.hzlj .layui-tab-title .layui-this{ background: #1c81cb; color: #fff; border:none; }
.hzlj .layui-tab-title .layui-this::after{ border:none; }
.hzli li{ margin: 5px 0px; }
.hzli li a{background: #eee; padding: 10px 0px; width: 100%; display: block; text-indent: 1em;}

.yyrk{ clear: both; margin-top: 15px; background: #f6f6f6; display: inline-block; width: 100%; padding-bottom: 15px; }
.yrrkdiv{ clear: both; }
.yrrkdiv ul{ margin-top: 10px; }
.yrrkdiv ul li{ width: 20%; float: left; padding: 0px 10px;}
.yrrkdiv ul li a{ background: #eee; padding: 5px 0px; width: 100%; display: block;  border:1px solid #ddd; margin: 5px 0px; border-radius: 5px; overflow: hidden; }
.yrrkdiv ul li img{ border-radius: 50%; margin-left: 5px; float: left; }
.yrrkdiv ul li span{ margin-left: 10px; line-height: 25px; position: relative; top: 10px; }
.yrrkdiv ul li:nth-child(n) a{ color: #fff; }
.yrrkdiv ul li:nth-child(1) a{ background: #f23c50; }
.yrrkdiv ul li:nth-child(2) a{ background: #36b1bf; }
.yrrkdiv ul li:nth-child(3) a{ background: #fe9601; }
.yrrkdiv ul li:nth-child(4) a{ background: #86269b; }
.yrrkdiv ul li:nth-child(5) a{ background: #cc0063; }


.czsc{ width: 100%; clear: both;padding-top: 15px; padding-bottom: 15px; display: inline-block; background: #f6f6f6; }
.czscdivW{ clear: both; width: 1200px; clear: both; position: relative; margin: 0px auto;  }
.czscbt{ width: 100%; height: 50px; line-height: 50px; }
.czscbt span{ display: block; width: 50px; height: 50px; float: left; border:1px solid #3a9de0; border-radius: 50%; text-align: center; margin-left: 25px; }
.czscbt span i{ font-size: 24px; color: #3a9de0; }
.czscbt em{ margin-left: 15px; }
.cascdiv{ border-right: 1px solid #ddd; border-left: 1px solid #fff; padding-top: 15px; height: 205px; }
.cascdiv:first-child{ border-left:none;}
.cascdiv:last-child{ border-right:none;}
.cascdiv ul{ margin-left: 55px; }

.xuchuan{ margin-top: 15px; }
.xuchuanN img{ width: 100%; }


@media screen and (max-width: 1200px){
  .navN{ width: 100%; height: auto;}
  .banner{ height: auto; padding-bottom: 120px; }
  .bannerN{ width: 100%; display: inline-block; }
  .bannertext{  }
  .xuqiu{ width: 100%; left: 0px; margin-left: 0px; }
  .main{ width: 100%; padding: 0px; }
  .dwp{ height: auto; }
  .yqljN{ width: 100%; }
  .footerN{ width: 100%; }
  .czscdivW{ width: 100%; }
  .cascdiv ul{ margin-left: 15px; }
  .czscbt span{ margin-left: 0px; }
}

@media screen and (max-width: 992px){
  .dep div.depdiv{ width: 50%; }
  .dep div.depdiv.active{ width: 50%; }
  .bannertext p{ width: 100%; }
  .yrrkdiv ul li{ width: 33.3%; }
  .xuqiu{ height: 240px; }
  .xuqiu ul li{ width: 25%; }
  .navNR{ padding: 10px 0px; }
  .navNR{ position: fixed; bottom: 0px; left: 0px; background: #4585ef; z-index: 10; }
  .navNR ul li{ border-right: 1px solid #849bea; }
  .footer{ margin-bottom: 80px; }
  .hzlj .layui-tab-title{ width: 80%; }
  .zhuanjia .layui-tab-title{ width: 80%; }
  .shudh{ top: 30%; }
}

@media screen and (max-width: 600px){
  .yrrkdiv ul li{ width: 50%; }
  .dep div.depdiv.active{ width: 100%; }
  .hzlj .layui-tab-title{ width: 98%; }
  .hzlj .layui-tab-title li{ padding: 0px 10px; }
  .zhuanjia .layui-tab-title{ width: 98%; }
  .zhuanjia .layui-tab-title li{ padding: 0px 10px; }
  .navNR ul li{ width: 25%; }
  .shudh{ width: 100%; bottom: 160px; left: 0px; height: auto; top: auto; }
  .shudh ul li{ float: left; width: 16.66%; border:none; }
}



/**/
