@font-face {
  font-family: 'iconfont';  /* project id 962334 */
  src: url('http://at.alicdn.com/t/font_962334_z7qutg59szd.eot');
  src: url('http://at.alicdn.com/t/font_962334_z7qutg59szd.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_962334_z7qutg59szd.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_962334_z7qutg59szd.woff') format('woff'),
  url('http://at.alicdn.com/t/font_962334_z7qutg59szd.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_962334_z7qutg59szd.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}


.new03{ }
.new03 li{ line-height: 40px; clear: both; position: relative; overflow: hidden; margin: 0px 0px;  margin-top: 20px; margin-bottom: 10px;}
.new03 li.active{ border-bottom: none; background: #ecf0f1; display: inline-block; height: 180px; }
.new03 li.active a{ font-weight: bold; }
.new03 li p{ line-height: 25px; font-size: 12px;  margin: 15px 0px; height: 50px; clear: both; }
.new03 li a{ color: #0d3f35; font-size: 14px; text-decoration: none; float: left; font-weight: bold; text-indent: 1em; }
.new03 li span{ float: right; margin-right:10px; font-size: 13px; color: #000; position: relative; top: 20px; color: #e7475e; }
.new03 li p span{ display: block; float: left; width: 60px; height: 50px; border-right: 1px solid #ccc; top: 0px; margin-right: 0px; }
.new03 li p span i{ height: 30px; line-height: 30px; font-size: 20px; font-weight: bold; width: 100%; text-align: center; display: block; color: #e7475e; font-style: normal; }
.new03 li p span b{ height: 20px; line-height: 20px; font-size: 12px; font-weight: normal; width: 100%; text-align: center; display: block; color: #555; }
.new03 li p span em{ height: 20px; line-height: 20px; font-size: 12px; font-weight: normal; width: 100%; text-align: center; display: block; color: #555; }
.new03 li p font{ text-align: justify; display: block; width:340px; height: 50px; float: right; margin-right: 15px; position: relative; overflow: hidden; color: #999; font-size: 13px; }

.breadcrumb{ /*background: none;*/ margin-bottom: 10px; }


.content { text-align: center; background: #fff; padding: 10px 0px; }
.content p{ line-height: 25px; color: #555; margin: 10px 0px; font-size: 14px; text-indent: 2em; text-align: left; width: 90%; margin-left: 5%; }
.contentSpan{ text-align: center; padding:10px 0px; }
.contentSpan em{ margin: 0px 5px; font-weight: bold; }
.contentSpan span{ margin: 0px 10px; color: #555; }

.listL{ width: 19%; float: left; background: #f6f6f6; }
.listL li{ height: 45px; line-height: 45px; border-bottom: 2px solid #fff; text-indent: 5px; }
.listL li em{ font-size: 9px; color: #0b68a1; margin-right: 10px; position: relative; top: -1px; }
.listR{ width: 80%; float: right; background: #fff; }
.listR .new02 li{ border-bottom: none; }
.listNav{ clear: both; text-align: center; }

.GgBt{ width: 100%; height: 40px; line-height: 40px; background: #96b8d4; }
.GgBt span{ padding: 0px 15px; color: #fff; font-size: 15px; display: block; float: left; }
.GgBt span a{ color: #333; font-size: 15px; text-decoration: none; }
.GgBt span.active{ background: #fff; border-top: 2px solid #bb071f; }



.kstd{ margin-top: 50px; }
.kstd li{ height: 50px; line-height: 50px; width: 48%; margin: 5px 1%; float: left; margin-top: 5px; background: #4dbbdb; border-radius: 2px; }
/*.kstd li:nth-child(1){ background: #c70039; }
.kstd li:nth-child(2){ background: #47ab6c; }
.kstd li:nth-child(3){ background: #f2b134; }
.kstd li:nth-child(4){ background: #e84a5f; }
.kstd li:nth-child(5){ background: #047073; }
.kstd li:nth-child(6){ background: #9f5bb1; }
.kstd li:nth-child(7){ background: #05b6ad; }*/
.kstd li:nth-child(8){ background: #ec4f42; }
.kstd li a{ color: #fff; font-size: 15px; }
.kstd li i{ display: block; width: 20px; height: 20px; float: left; margin-left: 15px; }
.kstd li.kstdlix{ width: 50%; }
.kstd li:hover{ background: #fd9c4d; }


.carousel-indicators{ bottom: 0px; margin-bottom: 5px; }

.hzyxlist1{ display: none; }
.hzyxlist1 ul li{ width: 150px; height: 35px; line-height: 35px; float: left; text-indent: 1em; }
.hzyxlist1 ul li a{ color: #555; }

.breadcrumb{ background: #fff; clear: both; }

.fbxq{ width: 100%; background: #fff; }
.fbxq table{ width: 98%; position: relative; margin: 0px auto; }
.fbxq table tr td input{ width: 100%; }
.fbxq table tr td{ padding: 10px 0px; }
.fbxq table tr td:nth-child(2n-1){ text-align: center; }

.wzsm{ width: 100%; background: #fff; }
.wzsm h5{ height: 45px; line-height: 45px; color: #e00; font-size: 14px; font-weight: bold; width: 90%; margin-left: 5%; }
.wzsm ol{ width: 90%; margin-left: 5%; }
.wzsm ol li{ line-height: 25px; font-size: 13px; padding: 10px 0px; color: #999; }

.main{ box-sizing: initial; }


.page_div{ text-align: center; margin: 10px;}
.page_div a{ padding: 5px 8px; background: #f6f6f6; border:1px solid #eee; margin: 0px 2px; border-radius: 2px;  }

.xj_wzfl{ width: 90%; height: 35px; line-height:35px; background: #f6f6f6; border-radius: 2px; margin: 10px 0px; margin-left: 5%; }
.xj_wzfl ul li{ width: 25%; float: left; }
.xj_wzfl ul li em{ color: #777; }